src/main/mule/dw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6b271b27-3e2d-4bfa-9e8c-910ef2bfa194" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="74a95967-6f98-4699-999a-149792947f62" file="text.properties" />
	<flow name="dwFlow" doc:id="f2664d09-1140-4470-b37b-0ffe353d847c" >
		<http:listener doc:name="Listener" doc:id="1d660976-6be0-43bf-bbfb-20e6f3c30afb" config-ref="HTTP_Listener_config" path="/dw">
			<http:response statusCode="#[vars.statuscode]" reasonPhrase="#[vars.httpreson]" />
			<http:error-response statusCode="#[vars.statuscode]" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="b699c26c-ed11-467e-a8a4-bb04b76c224f" >
			<ee:message >
				<ee:set-payload ><![CDATA["SUCSUS RESPONCE"]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statuscode" ><![CDATA[201]]></ee:set-variable>
				<ee:set-variable variableName="httpreson" ><![CDATA["OK"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8a92bfd1-e22b-42cc-adb8-93410cc174ae" message="#[payload]"/>
	</flow>
</mule>
